.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	padding: 1rem;
	width: 100%;
	height: var(--header-height);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--first-color);
}

.logos {
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-logo-react {
	animation: App-logo-spin infinite 9s linear;
	width: auto;
	height: 40px;
}

.App-logo-next {
	width: auto;
	height: 32px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
