.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    /*
	all: unset;
    */
	display: flex;
	align-items: center;
	padding: .4rem .4rem;
	border: var(--first-color) solid 0.15rem;
	border-radius: 50%;
	color: var(--first-color);
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
	overflow: hidden;
	transition: border 300ms, color 300ms;
	user-select: none;
}
/* 
.button p {
	z-index: 1;
}

.button:hover {
	color: #212121;
}

.button:active {
	border-color: teal;
}

.button::after,
.button::before {
	content: '';
	position: absolute;
	width: 9rem;
	aspect-ratio: 1;
	background: mediumspringgreen;
	opacity: 50%;
	border-radius: 50%;
	transition: transform 500ms, background 300ms;
}

.button::before {
	left: 0;
	transform: translateX(-8em);
}

.button::after {
	right: 0;
	transform: translateX(8em);
}

.button:hover:before {
	transform: translateX(-1em);
}

.button:hover:after {
	transform: translateX(1em);
}

.button:active:before,
.button:active:after {
	background: teal;
} */
