.navbar{
	/* border:  5px solid #501464;  */
    padding-top: 1rem;
    width: 15rem;
    height: calc(100vh - 7.75rem); 
    display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: scroll;
}

.btn-menu,
.btn-menu:focus {
    width: 150px;
	margin: 0.5rem;
	font-size: 17px;
	padding: 10px 25px;
	border-radius: 0.7rem;
	background-image: linear-gradient(#b7c0c4, #0d6d8c);
	border: 1px solid rgb(50, 50, 50);
	border-bottom: 2px solid rgb(50, 50, 50);
	transform: translate(0, -3px);
	transition: 0.2s;
	transition-timing-function: linear;
}

.btn-menu:active {
    
    color:var(--gray-color);
	margin: 0.5rem;
	transform: translate(0, 0);
	border-bottom: 2px solid rgb(50, 50, 50);
}
