.App {
	text-align: center;
}

.avatar .imagen {
	border-radius: 100%;
}

.hook-async {
	display: grid;
	grid-template-columns: repeat(2, 48%);
	justify-content: space-between;
}
.hook-async-personalizado {
	display: grid;
	grid-template-columns: repeat(1, 100%);
	justify-content: space-between;
	font-size: 0.5rem;
}

.hook-line {
	width: 230px;
	margin: 2rem auto;
	border-bottom: medium solid #0d6d8c;
}

.clases {
	padding: 2rem;
	padding-top: 6.5rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: var(--container-width);
	min-height: 100vh;
	text-align: center;
	width: 100%;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.ejercicio {
	color: #12323f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titulo {
	border-top: thin solid #0d6d8c;
	border-bottom: thin solid #0d6d8c;
	margin: 2rem auto;
	width: 320px;
	padding: 0.5rem 1rem;
	text-align: center;
}

.referencia-enlaces {
	padding: .5rem;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.25s ease-out;
}

.referencia-enlaces:hover {
	padding: 5px;
	border: .25rem ridge #d4dc32d8;
	border-radius: 10px;
	background-color: #d4dc3241;
	color: #000;
	opacity: 0.45;
}
@media screen and (min-width: 768px) {
	.hook-async {
		display: grid;
		grid-template-columns: repeat(3, 30%);
		justify-content: space-between;
	}
}

@media screen and (min-width: 1024px) {
	.hook-async {
		display: grid;
		grid-template-columns: repeat(4, 24%);
		justify-content: space-between;
	}
	.hook-async-personalizado {
		display: flex;
		justify-content: center;
		font-size: 1rem;
	}
}

/*
$ Componente CARD
*/

.card {
	position: relative;
	width: 200px;
	height: 100px;
	background: #0d6d8c;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 15px;
	cursor: pointer;
	color: #ffffffc9;
}

.card::before,
.card::after {
	position: absolute;
	content: '';
	width: 20%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: bold;
	background-color: #61dafb;
	transition: all 0.5s;
	color: #000;
}

.card::before {
	top: 0;
	right: 0;
	border-radius: 0 15px 0 100%;
}

.card::after {
	bottom: 0;
	left: 0;
	border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	transition: all 0.5s;
}

.card:hover:after {
	content: 'Soy un componente de ReactJs';
}

/*
$ Componente LOADER 
*/

.loading {
	animation: loading-animate infinite 2s linear;
	width: auto;
	height: 45px;
}

.loader {
	font-size: 0.8rem;
}

@keyframes loading-animate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*
$ Componente HAMBURGUER MENU
*/
/* .btn {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	border: none;
	transition: all 0.5s ease-in-out;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	display: flex;
	align-items: center;
	background: #040f16;
	color: #f5f5f5;
}

.btn:hover {
	box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
	position: absolute;
	height: 40px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}

/* .btn .text {
	transform: translateX(55px);
}
 
.btn:hover .icon {
	width: 175px;
}

.btn:hover .text {
	transition: all 0.5s;
	opacity: 0;
}

.btn:focus {
	outline: none;
}

.btn:active .icon {
	transform: scale(0.85);
}
 */