.App {
	text-align: center;
}

.avatar .imagen{
	border-radius: 100%;
}

.clases {
	width: 100%;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.ejercicio {
	color: #12323f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hook-line {
	width: 230px;
	margin: 2rem auto;
	border-bottom: medium solid #0d6d8c;
}


.titulo {
	border-top: thin solid #0d6d8c;
	border-bottom: thin solid #0d6d8c;
	margin: 2rem auto;
	width: 320px;
	padding: 0.5rem 1rem;
	text-align: center;
}

/*
$ Componente CARD
*/

.card {
	position: relative;
	width: 200px;
	height: 100px;
	background: #0d6d8c;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 15px;
	cursor: pointer;
	color: #ffffffc9;
}

.card::before,
.card::after {
	position: absolute;
	content: '';
	width: 20%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: bold;
	background-color: #61dafb;
	transition: all 0.5s;
	color: #000;
}

.card::before {
	top: 0;
	right: 0;
	border-radius: 0 15px 0 100%;
}

.card::after {
	bottom: 0;
	left: 0;
	border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	transition: all 0.5s;
}

.card:hover:after {
	content: 'Soy un componente de ReactJs';
}

/*
$ Componente LOADER 
*/

.loading {
	animation: loading-animate infinite 2s linear;
	width: auto;
	height: 45px;
}

.loader{
	font-size: .8rem;
}

@keyframes loading-animate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}