/* ********** Custom Properties ********** */
:root {
	--backgroundColor: #a0a0a0;
	--first-color: #0d6d8c;
	--first-alpha-color: #0d6d8c75;
	--second-color: #14192d;
	--second-alpha-color: rgba(20, 25, 45, 0.75);
	--third-color: #501464;
	--third-alpha-color: rgba(80, 20, 100, 0.75);
	--white-color: #fff;
	--gray-light-color: #f3f3f3;
	--gray-color: #ccc;
	--gray-dark-color: #666;
	--black-color: #000;
	--link-color: #509ee3;
	--title-color: #333;
	--text-color: #222;
	--white-alpha-color: rgba(255, 255, 255, 0.5);
	--black-alpha-color: rgba(0, 0, 0, 0.5);
	--font: 'Raleway', sans-serif;
	--max-width: 1200px;
	--header-height: 4rem;
}

/* ********** Reset ********** */
html {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 16px;
	scroll-behavior: smooth;
	background-color: var(--backgroundColor);
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
	color: var(--text-color);
}

a {
	color: var(--gray-color);
	text-decoration: none;
	/* transition: all 0.5s ease-out; */
}

a:hover {
	font-weight: 800;
	color: var(--gray-dark-color);
	opacity: 0.5;
}

h1 {
	margin: 0;
	font-size: 1.5rem;
}

h2 {
	margin: 0;
	font-size: 1.5rem;
	color: #0d6d8c;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
	color: #3660af;
}

h4 {
	margin: 0;
	font-size: 0.85rem;
}

h5 {
	margin: 0;
	font-size: 0.7rem;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin: 0;
	line-height: 1.6;
}

span {
	padding: 0;
	font-size: 1.2rem;
	color: #4b4b4b;
}

ul {
	color: #12323f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-items: center;
	list-style: none;
}

/* 
$ ********** Estilos de la página **********
*/
.main {
	/* border:  5px solid #501464;  */
	padding-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
	min-height: calc(100vh - 8.5rem);
	display: flex;
	flex-direction: row;
}

.section {
	/* border: 2px solid #501464;*/
	margin-bottom: 1rem;
	padding: 1rem 2rem 1rem;
	width: 100%;
	height: calc(100vh - 8.5rem);
	overflow-y: scroll;
}

button,
button:focus {
	margin: 0.5rem;
	font-size: 17px;
	padding: 10px 25px;
	border-radius: 0.7rem;
	background-image: linear-gradient(#b7c0c4, #0d6d8c);
	border: 1px solid rgb(50, 50, 50);
	border-bottom: 5px solid rgb(50, 50, 50);
	transform: translate(0, -3px);
	transition: 0.2s;
	transition-timing-function: linear;
}

button:active {
	margin: 0.5rem;
	transform: translate(0, 0);
	border-bottom: 2px solid rgb(50, 50, 50);
}
@media screen and (min-width: 1024px) {
	.full-lg-screen {
		width: 100%;
		min-height: 100vh;
	}

	.text-lg-center {
		text-align: center;
	}

	.text-lg-left {
		text-align: left;
	}

	.text-lg-right {
		text-align: right;
	}
}

/* 
$ ********** Utilitarios **********
*/
::-webkit-scrollbar {
	width: 0;
}
::-webkit-scrollbar-track {
	background: var(--backgroundColor);
}
::-webkit-scrollbar-thumb {
	background: var(--backgroundColor);
}

.btn,
.btn:focus {
	margin: 0.5rem;
	font-size: 17px;
	padding: 10px 25px;
	border-radius: 0.7rem;
	background-image: linear-gradient(#b7c0c4, #0d6d8c);
	border: 1px solid rgb(50, 50, 50);
	border-bottom: 5px solid rgb(50, 50, 50);
	transform: translate(0, -3px);
	transition: 0.2s;
	transition-timing-function: linear;
}

.btn:active {
	margin: 0.5rem;
	transform: translate(0, 0);
	border-bottom: 2px solid rgb(50, 50, 50);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
