:root {
	--main-font: sans-serif;
	--font-size: 16px;
	--first-color: #359FCA;
	--first-modal-color: rgba(53, 160, 202, 0.75);
	--second-color: #23272f;
	--second-modal-color: rgba(35, 39, 47, 0.75);
	--third-color:#808080;
	--third-modal-color: rgba(128, 128, 128, 0.75);
	--black_light:rgba(0, 0, 0, 0.75);
	--grey-light:#aaa;
	--white-light:rgba(255, 255, 255, 0.75);
	--container-width: 1200px;
}
/* 
@media (prefers-color-scheme: dark) {
	body {
		color: #90d1da;
		background: #b6b5b5;
	}
}
*/

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: var(--font-size);
	font-family: var(--main-font);
	scroll-behavior: smooth; /*$ Le da el efecto de transicion de una seccion a otra */
}
*,*::after,*::before {box-sizing: inherit;}

/*$ Elimina ScroolBar Lateral */
::-webkit-scrollbar {width: 0px;}
/* 
::-webkit-scrollbar-track {background: #fff;}
::-webkit-scrollbar-thumb {background: #fff;} 
*/

body {
	margin: 0;
	overflow-x: hidden; /*$ Todo lo que se desborde en horizantal, se oculte */
	
}

main {
	flex: 1;
	padding: 20px;
	margin-left: 200px;
}

img {
	/*$ Imagenes que se adapten a la maxima anchura de su contenedor */
	width: 100%;
	height: auto;
}


/*
$ ************************************************************
$ ********************   Sección HEADER   ********************
$ ************************************************************
*/
header {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 999;	
	background-color: var(--first-color);
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.logo-react {
	display: flex;
	width: 35%;
	margin: auto;
}

.daniel-calderon {
	display: flex;
    border-radius: 50px;
	display: flex;
	width: 35%;
	margin: auto;
}

/*
$ *************************************************************
$ ********************   Sección SIDEBAR   ********************
$ *************************************************************
*/
aside {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 200px;
	background-color: var(--second-color);
	left: 0px;
	top: 4.9rem;
	bottom: 0;
	overflow: auto;
}

aside a {
	text-decoration: none;
	padding: .5rem 1rem;
	margin: .25rem;
	border: 1px solid var(--second-color);
	border-radius: .5rem;
	color: var(--white-light);
	background: var(--second-color);
}

aside a:hover {
	font-weight: 900;
	background: var(--third-modal-color);
	color: var(--white-light);
}

/*
$ **********************************************************
$ ********************   Sección MAIN   ********************
$ **********************************************************
*/
main{
	background: var(--third-color);
	padding-top: 5rem;
	left: 0px;
	top: 7rem;
	bottom: 0;
	overflow: auto;
}

h1 {
	font-size: 2rem;
	text-align: center;
}






/* imagenes */









/* 
.layout-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-container {
	display: flex;
	flex: 1; 
	overflow: auto; 
}
*/