:root {
	--main-font: sans-serif;
	--font-size: 16px;
	--first-color: #359fca;
	--first-modal-color: rgba(53, 160, 202, 0.75);
	--second-color: #23272f;
	--second-modal-color: rgba(35, 39, 47, 0.75);
	--third-color: #808080;
	--third-modal-color: rgba(128, 128, 128, 0.75);
	--black_light: rgba(0, 0, 0, 0.75);
	--grey-light: #aaa;
	--white-light: rgba(255, 255, 255, 0.75);
	--container-width: 1200px;
}
/* 
@media (prefers-color-scheme: dark) {
	body {
		color: #90d1da;
		background: #b6b5b5;
	}
}
*/

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: var(--font-size);
	font-family: var(--main-font);
	scroll-behavior: smooth; /*$ Le da el efecto de transicion de una seccion a otra */
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

/*$ Elimina ScroolBar Lateral */
::-webkit-scrollbar {
	width: 0px;
}
/* 
::-webkit-scrollbar-track {background: #fff;}
::-webkit-scrollbar-thumb {background: #fff;} 
*/

body {
	margin: 0;
	background: #21252E;
}

/*
$ ************************************************************
$ ********************   Sección HEADER   ********************
$ ************************************************************
*/
header {
	position: fixed;
	width: 100%;
	margin: 0 0 2rem 0;
	padding: 0;
	z-index: 999;
	background-color: #21252E;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-react {
	display: flex;
	width: 35%;
	height: auto;
	margin: auto;
}

.daniel-calderon {
	display: flex;
	width: 32%;
	height: auto;
	margin: auto;
	border-radius: 100%;
}

/*
$ *************************************************************
$ ********************   Sección SIDEBAR   ********************
$ *************************************************************
*/
aside {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 200px;
	background-color: #000000;
	left: 0px;
	top: 5.1rem;
	bottom: 30px;
	overflow: auto;
	border-radius: 10px;
}

aside a {
	text-decoration: none;
	padding: 0.5rem 1rem;
	margin: 0.25rem;
	border: 1px solid var(--second-color);
	border-radius: 0.5rem;
	color: var(--white-light);
	background: var(--second-color);
}

aside a:hover {
	font-weight: 900;
	background: var(--third-modal-color);
	color: var(--white-light);
}

/*
$ **********************************************************
$ ********************   Sección MAIN   ********************
$ **********************************************************
*/
main {
	background: #21252E;
	max-width: 100%;
	padding-top: 2rem;
	margin-left: 200px;
	left: 0px;
	top: 15rem;
	overflow: auto;
}

h1 {
	font-size: 2rem;
	text-align: center;
	color: var(--white-light);
}

.seccion {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	padding: 2.5rem 0.5rem 0.5rem 0.5rem;
	box-sizing: inherit;
	/*border-color: 5px solid #23272f;*/
}
.titulo {
	margin-top: .5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	color: var(--white-light);
}

.subtitulo {
	margin-top: 0;
	padding: 0 0 0 3rem;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: left;
	color: var(--white-light);
}
.contenedor-codigo{
	padding: 0 0 0 4.5rem;
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 3px;
}
.codigo {
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 3px;
}

.descripcion {
	margin: 0;
	padding: 0rem 3rem 0.5rem 3rem;
	text-align: justify;
	color: #b3b3b3;
	line-height: 1.6rem;
}

.imagen {
	padding: 0 0 0 4.5rem;
	width: 100%;
	height: auto;
}