.estilos span {
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: 800;
	color: #0d6d8c;
}

.span-css {
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: left;
}

.bg-react {
	border-radius: .5rem;
	display: flex;
	justify-content: flex-start;
	margin: 0.2rem;
	width: 320px;
	background-color: #61dafb;
}
