/* .App-header {
	position: fixed;
	z-index: 999;
	padding: 1rem;
	width: 100%;
	font-size: 20px;
	padding: 20px;
	color: white;
	text-align: center;
	height: 8rem;
	background-color: #0d6d8c;
}
} */

.logos {
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-logo-react {
	animation: App-logo-spin infinite 9s linear;
	width: auto;
	height: 40px;
}

.App-logo-next {
	width: auto;
	height: 23px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}