.home {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.titulo {
	border-top: thin solid #0d6d8c;
	border-bottom: thin solid #0d6d8c;
	margin: 0.1rem auto;
	width: 320px;
	padding: 0.5rem 1rem;
	text-align: center;
}

.lista {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	list-style: '✔';
}

.lista li {
	text-align:left;
	padding: 0.5rem;
}

.lista li i{
	color: var(--second-color);
}

.texto{
	text-align: justify;
}

.section-inicio {
	padding: 1rem 1.2rem;
}

/*# ********** Versión Tablet ********** */
@media screen and (min-width: 768px) {
	.contact-cards {
		display: grid;
		grid-template-columns: repeat(2, 48%);
		justify-content: space-between;
	}
}

/*# ********** Versión Desktop ********** */
@media screen and (min-width: 1024px) {
	.contact-cards {
		grid-template-columns: repeat(4, 24%);
	}
}
